@font-face {
    font-family: 'Roboto';
    src: url('./dist/font/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./dist/font/Roboto-Bold.ttf');
    font-weight: 700;
}